In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Age Prediction.csv")

In [4]:
data.head()

,ID,Age_group,Age,Gender,PAQ605,Body Mass Index,Blood Glucose after fasting,Diabetic or not,Respondent's Oral,Blood Insulin Levels
0,73564,Adult,61,2,2,35.7,110,2,150,14.91
1,73568,Adult,26,2,2,20.3,89,2,80,3.85
2,73576,Adult,16,1,2,23.2,89,2,68,6.14
3,73577,Adult,32,1,2,28.9,104,2,84,16.15
4,73580,Adult,38,2,1,35.9,103,2,81,10.92

In [5]:
data["ID"].unique()

array([73564, 73568, 73576, ..., 83713, 83718, 83727], dtype=int64)

In [7]:
data["Age_group"].unique()

array(['Adult', 'Senior'], dtype=object)